# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.VC.opendb

# Build files
Debug/
Release/
x86/
x64/
build/
out/

# Compiled objects / binaries
*.obj
*.o
*.exe
*.dll
*.lib
*.pdb

# Precompiled headers
*.pch
*.ipch

# Logs
*.log

# IDEs / Editors
.vscode/
.idea/

# Assets 
SpriteSheets/